a:hover,a:focus,
.navbar-default .navbar-nav>li>a:hover,
ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, ul.nav.navbar-nav li a:hover,
.navbar-nav > li:focus::after,
.navbar-nav > li:focus::before,
.navbar-nav > li:focus a::after,
.navbar-nav > li:focus a::before,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.social-icon li a:hover,
.social-icon.solid li a.active,
.theme-heading strong,
.social-icon li a.active,
.itg-button.light,
.theme-hover .content-box .like:hover,
.theme-hover .content-box .view:hover,
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next,
.mixitup-btn a.filter:before,
.mixitup-btn a.filter:after,
.mixitup-btn a.filter span:after,
.mixitup-btn a.filter span:before,
.mixitup-btn a.filter.active,
.breadcrumb>.active,
.pagination li a,
.search_bar button,
.blog-sidebar .widget ul li:hover a ,
.article-info i span,
span.quot-left,
.comment-reply-link,
.comming-soon-content .social-icon.solid li a:hover{
	color:#f98012;
}
.navbar-nav > li:before,
.navbar-nav > li:after,
.navbar-nav>li>a:after,
.navbar-nav>li>a:before,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.itg-button:hover,
.itg-button.active,
.social-icon li a:hover,
.theme-heading h1:before,
.theme-heading h2:before,
.theme-heading h3:before,
.theme-heading h4:before,
.theme-heading h5:before,
.theme-heading h6:before,
.theme-heading h1:after,
.theme-heading h2:after,
.theme-heading h3:after,
.theme-heading h4:after,
.theme-heading h5:after,
.theme-heading h6:after,
.heading-shape:after,
.heading-shape:before,
.social-icon li a.active,
.itg-button.light,
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next,
#photography-slider .owl-dots .owl-dot span,
.pagination li a,
.tag-cloud a:hover{
	border-color:#f98012;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.itg-button:hover ,
.itg-button.active,
.itg-button.light:hover,
.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover,
.pagination li a:hover,
.tag-cloud a:hover,
#style-switcher h2 a,
#scroll-top{
	background-color:#f98012;
}

