@media screen and (min-width: 1800px) {
	.agency-detail {
		padding: 120px 30px;
	}
	.agency figure {
		max-height: 520px;
		overflow: hidden;
	}
}
@media screen and (min-width: 1501px) and (max-width: 1799px){	
	.agency-detail {
		padding: 58px 30px;
	}
}
@media screen and (min-width: 1400px) and (max-width: 1500px) {
	.agency-detail {
		padding: 44px 30px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
	.owl-theme .owl-nav{
		position:relative;
		margin-top:0;
	}
	.owl-theme .owl-nav .owl-next,
	.owl-theme .owl-nav .owl-prev{
		float:none;
		margin:0 10px;
	}
	#partner-slider .owl-stage-outer{
		margin-bottom:20px;
	}
	.comming-soon-content figure{
		margin-bottom: 15px;
	}
	.comming-soon-content h1{
		margin-bottom:15px;
	}
	.comming-soon-content p{
		width:60%;
		margin-bottom: 30px;
	}
	.comming-soon-content{
		margin-top: -240px;
	}
	#sidebar-slider .owl-nav {
		z-index: 2;
		    position: absolute;
    margin-top: -17.5px;
	}
	.agency-detail {
		padding: 12px 30px 12px;
	}
	.agency p {
		margin-bottom: 10px;
		font-size:14px;
	}
		
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
	.footer-gallery{
		margin-bottom:-105px;
		margin-top:-105px;
	}
	.top_footer{
		margin-bottom:0;
		margin-top:0;
	}
	.footer-gallery li{
		width: 31%;
	}
	.head-search{
		width:5%;
	}
	.owl-theme .owl-nav{
		position:relative;
		margin-top:0;
	}
	.owl-theme .owl-nav .owl-next,
	.owl-theme .owl-nav .owl-prev{
		float:none;
		margin:0 10px;
	}
	#partner-slider .owl-stage-outer{
		margin-bottom:20px;
	}
	.comming-soon-content figure{
		margin-bottom: 15px;
	}
	.comming-soon-content h1{
		margin-bottom:15px;
	}
	.comming-soon-content p{
		width:60%;
		margin-bottom: 30px;
	}
	.comming-soon-content{
		margin-top: -240px;
	}
	.blog .user-name, .blog .comment-no{
		margin-right: 20px;
	}
	.list .blog-caption {
		margin: 10px 0;
	}
	.list .side-content {
		width: 100%;
	}
	.list .side-content .blog-caption {
		margin:20px 0;
	}
	#sidebar-slider .owl-nav {
		z-index: 2;
		    position: absolute;
    margin-top: -17.5px;
	}
	.comment-list li .children {
		padding-left:30px;
	}
	.error-content p {
		margin-bottom:30px;
		width:70%;
	}
	.error-content h1{
		margin-bottom:10px;
	}
	.error-content figure {
		margin-bottom:20px;
	}
	.hidden-onetwtyfiv{
		display:none;
	}
	.agency-detail {
		padding: 25px 30px 20px;
	}
	.error-content{
		margin-top:-231.5px;
	}
	.sidebar-post p{
		font-size:14px;
	}
	
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
	.hidden-ntytwo {
		display: none;
	}
	.agency-detail {
		padding: 20px 30px 10px;
	}
	.footer-gallery{
		margin-bottom:-105px;
		margin-top:-105px;
	}
	.top_footer{
		margin-bottom:0;
		margin-top:0;
	}
	.footer-gallery li{
		width: 31%;
	}
	.head-search{
		width:5%;
	}
	.owl-theme .owl-nav{
		position:relative;
		margin-top:0;
	}
	.owl-theme .owl-nav .owl-next,
	.owl-theme .owl-nav .owl-prev{
		float:none;
		margin:0 10px;
	}
	#partner-slider .owl-stage-outer{
		margin-bottom:20px;
	}
	.comming-soon-content figure{
		margin-bottom: 15px;
	}
	.comming-soon-content h1{
		margin-bottom:15px;
	}
	.comming-soon-content p{
		width:60%;
		margin-bottom: 30px;
	}
	.comming-soon-content{
		margin-top: -240px;
	}
	.blog .user-name, .blog .comment-no{
		margin-right: 20px;
	}
	.list .blog-caption {
		margin: 10px 0;
	}
	.list .side-content {
		width: 100%;
	}
	.list .side-content .blog-caption{
		margin:20px 0;
	}
	#sidebar-slider .owl-nav {
		z-index: 2;
		    position: absolute;
    margin-top: -17.5px;
	}
	.comment-list li .children{
		padding-left:30px;
	}
	.error-content p{
		margin-bottom:30px;
		width:100%;
	}
	.error-content h1{
		margin-bottom:10px;
	}
	.error-content figure{
		margin-bottom:20px;
	}
	.error-content{
		margin-top:-231.5px;
	}
	.sidebar-post p{
		font-size:14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.sidebar-post p{
		font-size:13px;
	}
	.theme-heading h1{
		font-size:50px;
	}
	.error-content{
		margin-top:-231.5px;
	}
	.footer-gallery{
		margin-bottom:0;
		margin-top:0;
	}
	.top_footer{
		margin-bottom:0;
		margin-top:0;
	}
	.footer-gallery li{
		width: 22%;
	}
	.head-box {
		padding: 0 30px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size:14px;
		padding:10px 12px;
	}
	.slider-text{
		margin-top:-80px;
	}
	.my-story {
		float: left;
		width: 100%;
		padding-bottom: 100px;
		padding-top: 50px;
	}
	.my-story a {
		width: 45%;
	}
	.my-story .third{
		margin-left:-22.5%;
	}
	.owl-theme .owl-nav{
		position:relative;
		margin-top:0;
	}
	.owl-theme .owl-nav .owl-next,
	.owl-theme .owl-nav .owl-prev{
		float:none;
		margin:0 10px;
	}
	#partner-slider .owl-stage-outer{
		margin-bottom:20px;
	}
	.comming-soon-content figure{
		margin-bottom: 10px;
	}
	.comming-soon-content h1{
		font-size:30px;
		margin-bottom:10px;
	}
	.comming-soon-content p{
		width:80%;
		margin-bottom:25px;
	}
	.timer ul li{
		padding: 30px 0;
		min-height:132px;
	}
	.timer{
		margin-bottom:40px;
	}
	.timer ul li span{
		font-size:40px;
	}
	.comming-soon-content .social-icon li{
		display:inline-block;
	}
	.comming-soon-content .social-icon{
		position:relative;
		left: auto;
		margin-top:0;
	}
	.comming-soon-content .social-icon.solid li a{
		margin:0 5px;
	}
	.comming-soon-content{
		margin-top:-230px;
	}
	.list .blog-caption {
		margin: 20px 0;
	}
	.list .side-content .blog-caption{
		margin:20px 0;
	}
	#sidebar-slider .owl-nav {
		z-index: 2;
		    position: absolute;
    margin-top: -17.5px;
	}
	.comment-list li .children{
		padding-left:30px;
	}
	.error-content p{
		margin-bottom:30px;
		width:100%;
	}
	.error-content h1{
		margin-bottom:10px;
	}
	.error-content figure{
		margin-bottom:20px;
	}
	#portfolio-slider{
		max-width:600px;
		margin:auto;
	}
	.service-background{
		margin-bottom: 100px;
	}
	.services{
		margin-bottom: -100px;
	}
	.blog{
		margin-bottom:30px;
	}
}
@media screen and (max-width: 767px)  {
	#photography-slider {
	    margin-bottom:30px;
	}
	.blog{
		margin-bottom:30px;
	}
	.about .content{
		margin-top:30px;
	}
	.photographer figure{
		margin-bottom:30px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: transparent !important;
	}
	#header.sticky-header a.navbar-brand {
		width: 150px;
		padding: 15px 0;
	}
	.navbar-nav > li::after,
	.navbar-nav > li::before,
	.navbar-nav>li a::before,
	.navbar-nav>li a::after{
		display:none;
	}
	#header{
		background-color:#000;
	}
	#header.sticky-header {
		background-color:#000;
		top: 0;
		position: absolute;
		 border-bottom: 1px solid rgba(225,225,225,0.2);
	}
	.page-header .container {
		padding-top: 0;
		margin-bottom:0;
	}
	.error-content{
		margin-top:-156.5px;
	}
	.error-content p{
		display:none;
	}
	.error-content figure{
		margin-bottom:10px;
	}
	.error-content h1{
		margin-bottom:10px;
	}
	.comment-form form{
		padding:20px;
	}
	.comment-list li .children{
		padding-left:0px;
	}
	#sidebar-slider .owl-nav {
		z-index: 2;
		    position: absolute;
    margin-top: -17.5px;
	}
	.list .blog-caption {
		margin: 20px 0;
	}
	.comming-soon-content .social-icon.solid li a{
		margin:0 4px;
	}
	.comming-soon-content figure{
		margin-bottom:15px;
	}
	.comming-soon-content h1{
		margin-bottom: 15px;
		font-size: 24px;
	}
	.comming-soon-content p{
		display:none;
	}
	.timer ul li{
		padding: 20px 0;
	}
	.comming-soon-content .social-icon li{
		display:inline-block;
	}
	.comming-soon-content .social-icon{
		position:relative;
		left: auto;
		margin-top:0;
	}
	.timer ul li span{
		font-size:24px;
	}
	.timer ul li span.normal {
		font-size: 12px;
	}
	.comming-soon-content{
		margin-top: -190px;
	}
	#header{
		position:relative;
	}
	.head-box {
		padding: 0 15px;
	}
	.navbar-toggle .icon-bar{
		width: 15px;
	}
	.navbar-toggle{
		margin-right:0;
		padding:10px;
		margin-top:12px;
	}
	a.navbar-brand {
		padding: 15px 0;
		width: 150px;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>li>a:hover,
	ul.nav.navbar-nav li a:hover,
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, ul.nav.navbar-nav li a:hover{
			color:#fff !important;
		}
	.head-search {
		padding: 16px 10px;
		text-align: center;
		color: #fff;
		float: right;
	}
	.head-search a:hover {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
		padding: 10px 15px;
	}
	.top-search{
		padding: 0 12px 0 5px;
	}
	.foot-sec{
		margin-bottom:50px;
	}
	.footer-box{
		padding-bottom:50px;
	}
	.top_footer{
		margin-bottom:0;
		margin-top:0;
	}
	.footer-gallery{
		margin-top:0;
		margin-bottom:0;
	}
	.my-story{
		max-width:480px;
		float:none;
		margin:auto;
		display:table;
	}
	.photographer figure img {
		width: 100%;
	}
	.sevice-box{
		margin-bottom:30px;
	}
	.service-background{
		margin-bottom:0;
		padding-bottom:70px;
	}
	.services{
		margin-bottom:0;
	}
	.slider.owl-theme .owl-dots{
		margin-right:0;
	}
	.itg-button{
		font-size:12px;
		padding:8px 20px;
		margin-right:10px;
	}
	.slider-text h1{
		font-size:24px;
	}
	.slider-text p{
		display:none;
	}
	.slider-text{
		margin-top:-45px;
	}
	.top-search input.form-control{
		height:40px;
	}
	.theme-heading h1{
		font-size:40px;
	}
	.owl-theme .owl-nav{
		position:relative;
		margin-top:0;
	}
	.owl-theme .owl-nav .owl-next,
	.owl-theme .owl-nav .owl-prev{
		float:none;
		margin:0 10px;
	}
	.theme-heading h3{
		font-size:20px;
		padding: 8px 15px;
	}
	.agency .theme-heading h3{
		font-size:18px;
	}
	.agency-detail {
		padding: 30px 15px 10px;
	}
	.mixitup-btn a.filter{
		font-size:14px;
		margin:0;
	}
	.mixitup-btn a.filter span{
		padding: 10px 10px;
	}
	.blog .user-name, .blog .comment-no{
		margin-right: 20px;
	}
	.blog figure figcaption a{
		font-size:15px;
	}
	#partner-slider .owl-stage-outer{
		margin-bottom:20px;
	}
	.list .side-content .blog-caption{
		margin:20px 0;
	}
	#portfolio-slider{
		max-width:600px;
		margin:auto;
	}
	.footer-gallery li{
		float:left;
		margin: 5px 10px 5px 0px;
	}
	.blog-sidebar{
		margin-top:30px;
	}
}
@media screen and (min-width: 641px) and (max-width: 767px) {
	.service-single {
		width: 50%;
	}
}
@media screen and (min-width: 481px) and (max-width: 640px) {
	.my-story a:hover img {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	#portfolio-slider{
		max-width:320px;
		margin:auto;
	}
	.services {
		margin-bottom: 0;
		max-width: 450px;
		margin: auto;
		float:none;
	}
}
@media screen and (max-width: 374px){
	.sidebar-post p{
		font-size:12px;
		line-height: 1.8em;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.footer-gallery li{
		width: 29%;
	}
	.my-story a {
		width: 45%;
	}
	.my-story .third{
		margin-left:-22.5%;
	}
	.my-story a:hover img {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	.services {
		margin-bottom: 0;
		max-width: 320px;
		margin: auto;
		float:none;
	}
	
}